body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: url('imagenes/fondo.jpg') no-repeat center center fixed;
    background-size: cover;
}

header {
    background-color: rgba(52, 58, 64, 0.8);
    padding: 10px 20px;
    color: #fff;
    border-bottom: 2px solid #e9ecef;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-container img {
    max-width: 150px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

.hero {
    color: #fff;
    padding: 100px 20px;
    text-align: center;
}

.hero h1 {
    font-size: 3em;
    margin-bottom: 20px;
}

.hero p {
    font-size: 1.5em;
    margin-bottom: 20px;
}

.cta-button {
    background-color: #f39c12;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

.services {
    padding: 50px 20px;
    background-color: rgba(248, 249, 250, 0.8);
    text-align: center;
}

.services h2 {
    margin-bottom: 40px;
    font-size: 2.5em;
}

.services-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.service {
    flex: 1 1 20%;
    box-sizing: border-box;
    margin: 10px;
    padding: 10px;
    border: 1px solid #e9ecef;
    border-radius: 5px;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
}

.service img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.service:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.testimonials {
    padding: 50px 20px;
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
}

.testimonials h2 {
    margin-bottom: 40px;
    font-size: 2.5em;
}

.testimonial {
    margin-bottom: 20px;
}

.cta {
    padding: 50px 20px;
    color: #fff;
    text-align: center;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('imagenes/contact-bg.jpg') no-repeat center center;
    background-size: cover;
}

.cta h2,
.cta p {
    margin: 0 0 20px;
}

footer {
    background-color: rgba(52, 58, 64, 0.8);
    color: #fff;
    text-align: center;
    padding: 10px;
    border-top: 2px solid #e9ecef;
}